
<div class="container">
  <div style="text-align:center">
    <br/><br/>
    <img src="assets/reddit_thumbnail.png" width="150" height="150">
    <br/><h1>
      Reddit Feed Search
    </h1><hr>
  </div>
  <div>
    <div class="col-xs-4">
      <form class="input-form">
        <div class="form-group col-xs-12" style="text-align:center">
          <h3><b>Choose any one:</b></h3>
          <button type="button" (click)="searchsubreddit(10,'funny')" class="btn btn-primary btn-block lookup-button default-posts"><span><i class="fa fa-smile-o" aria-hidden="true"></i></span> Funny</button>
          <button type="button" (click)="searchsubreddit(10, 'music')" class="btn btn-primary btn-block lookup-button default-posts"><span><i class="fa fa-music" aria-hidden="true"></i></span> Music</button>
          <button type="button" (click)="searchsubreddit(10, 'movies')" class="btn btn-primary btn-block lookup-button default-posts"><span><i class="fa fa-film" aria-hidden="true"></i></span> Movies</button>
          <button type="button" (click)="searchsubreddit(10, 'news')" class="btn btn-primary btn-block lookup-button default-posts"><span><i class="fa fa-newspaper-o" aria-hidden="true"></i></span> News</button>
          <button type="button" (click)="searchsubreddit(10, 'videos')" class="btn btn-primary btn-block lookup-button default-posts"><span><i class="fa fa-file-video-o" aria-hidden="true"></i></span> Videos</button>
        </div>
      </form>
    </div>
    <div class="col-xs-4">
      <form class="input-form">
        <div class="form-group col-xs-12" style="text-align:center">
          <h3><b>Customize my search!</b></h3>
          <select name="Number of posts" class="customize-fields" #numposts>
            <option selected disabled>Number of posts</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
          <br/><input type="text" id="srname" class="form-control customize-fields" placeholder="Subreddit Name" #srname /><br/>
          <button type="button" (click)="searchsubreddit(numposts.value, srname.value)" class="btn btn-primary btn-block lookup-button customize-fields"><span><i class="fa fa-search" aria-hidden="true"></i></span> Search</button>
        </div>
      </form>
    </div>
    <div class="col-xs-4">
      <form class="input-form">
        <div class="form-group col-xs-12" style="text-align:center">
          <h3><b>Randomize my search!</b></h3>
            <button type="button" (click)="searchrandom()" class="btn btn-primary btn-block lookup-button default-posts">
              <i class="fa fa-cog fa-spin -o fa-fw"></i><span class="sr-only"></span> I'm feeling lucky!</button><br/><br/>
              <h4 *ngIf = "isClicked"><b>Posts: {{chosen_numposts}}</b></h4>
              <h4 *ngIf = "isClicked"><b>Subreddit: {{chosen_srname}}</b></h4>
        </div>
      </form>
    </div><hr>
</div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <hr>
    <div *ngIf = "is_error" class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <b>Sorry, no such subreddit exists. Please try a predefined choice above, or select a random one from our dozen choices!</b>
    </div>
    <div *ngIf = "all_records.length < numposts.value" class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <b>It appears this isn't a big subreddit. Please choose a more popular one if you'd like to see more results.</b>
    </div>
    <div *ngIf = "all_records.length>0" class="list-group">
          <a href = "#" class = "list-group-item active result-header">
              <h4 class = "list-group-item-heading">
                  Search results
              </h4>
          </a>

    <div *ngFor = "let record of all_records" class="top-posts">
          
              <div class="d-flex w-100 justify-content-between">
                <a href="{{record.url}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                 <img src="{{record.thumbnail}}" class="img-circle" width="70" height="70">
                  <h3 class="mb-1">{{record.title}}</h3>
                  <p><small>Created on {{record.created_at}}, by {{record.author}}</small></p>
                  <span class="move-span-up"><img src="assets/upvote.png" width="15" height="12"></span><b> {{record.score}}&nbsp;&nbsp;</b>
                  <span class="fa fa-comment-o"></span><b> {{record.comments}}</b></a></div>
                  <a href="https://reddit.com{{record.permalink}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start"><h4>Link to original post</h4></a>
              
      </div><br/>
    </div>
</div><br/>
