
<div class="container">
  <div style="text-align:center">
    <br/><br/>
    <img src="assets/reddit_thumbnail.png" width="150" height="150">
    <br/><h1>
      The Reddit Feed Web App
    </h1>
    <h3>Search by a subreddit name, and we will give you its top posts.</h3>
  </div><br/>
  <form class="input-form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Subreddit Name" #srname />
      <button (click)="searchsubreddit(srname.value)" class="btn btn-primary btn-block lookup-button">Look up</button>
    </div>
  </form>
    <div *ngIf = "all_records.length>0" class="list-group">
            <a href = "#" class = "list-group-item active result-header">
                <h4 class = "list-group-item-heading">
                    Search results
                </h4>
            </a>
      <div *ngFor = "let record of all_records">
              <a href="{{record.url}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                     <img src="{{record.thumbnail}}" class="img-circle" width="70" height="70">
                      <h3 class="mb-1">{{record.title}}</h3>
                      <p><small>Created at {{record.created_at}}, by {{record.author}}</small></p>
                      <span class="move-span-up"><img src="assets/upvote.png" width="15" height="12"></span> <b> {{record.score}}&nbsp;&nbsp;</b>
                      <span class="fa fa-comment-o"></span><b> {{record.comments}}</b>
                  </div>
              </a>
          </div><br/>
  </div>
</div><br/>
