
.lookup-button{
	margin-top: 5px;
}

.center-my-img{
	display: block;
    margin: 0 auto;
}

.move-span-up {
	position: relative;
	bottom: 2px;
}

.top-posts{
	border-bottom: 5px solid #ff4500;
}

.customize-fields{
	width: 200px;
	display: inline-block;
}

.default-posts{
	width: 200px;
	display: inline-block;
}